{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>Welcome {{current_user.username}}</h1>
    
{% endif %}

<div id="usersRecipes">
<h3>Your recipes</h3>
    {% if userRecipes %}
        {% for recipe in userRecipes %}
            <a href="edit/{{recipe['recipe_id']}}">{{recipe['recipe_name']}}</a>
            
        {% endfor %}
    {% endif %}
</div>


{% endblock  %}

{% block scripts %}
    
{% endblock scripts %}