{% extends 'base.html' %}
{% block title %}
    Recipes
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}

    <h1>Recipe builder</h1>
    <div id="builder-wrapper">
        <button onclick="resetAll()">Reset all</button>

        <div id="warning-message-wrapper">
            <span id="warningsSpan"></span>
        </div>
        <div id="macros-wrapper">

            <span id="runningMacros"></span>
        </div>

        <div id="ingredient-list-wrapper">
                <span id="ingredient-list-title">Ingredients:</span> <br>
                <select class="ingredientSelections" name="category" id="categorySelect">
                    <option class="ingredientOption" value="" selected disabled hidden>Ingredient type</option>
                    <option class="ingredientOption" value="all">All</option>
                    <option class="ingredientOption" value="meat">Meats</option>
                    <option class="ingredientOption" value="vegetables">Vegetables</option>
                    <option class="ingredientOption" value="fruits">Fruits</option>
                    <option class="ingredientOption" value="grains and beans">Grains & Beans</option>
                    <option class="ingredientOption" value="fish and seafood">Fish & Seafood</option>
                    <option class="ingredientOption" value="oils and fats">Oils & Fats</option>
                    <option class="ingredientOption" value="protein">Proteins</option>
                    <option class="ingredientOption" value="nuts">Nuts</option>
                    <!-- <option value=""></option> -->
                </select>

                <!-- <select name="categorySelect" id="ingredientSelect">
                </select> -->
                <select class="ingredientSelections" name="categorySelect" id="ingredientSelect">
                    <option class="ingredientOption" value="" selected disabled hidden>Ingredient</option>
                </select>

                <input class="ingredientSelections" id="weight-input" type="number" placeholder="(g/ml)" size="6">
                
                <button id="addIngredientButton">Add</button>
                
                <div id="ingredients-text">

                    <div id="ingredient-list">
            
                    </div>
                </div>
        </div>

        <div id="step-add">
            
            <button id="addStepButton">Add step</button>
            <input id="stepInput" type="text" onkeypress="addStepItem(event)">

            <div id="steps-wrapper">
                
            </div>
        </div>
        <div id="recipe-info-wrapper">

            <!-- <label for="recipe_name">Recipe name:</label> -->
            <input type="text" name="recipe_name" id="recipe_name" required minlength="4" placeholder="Recipe name">
            <select name="recipeCategory" id="recipeCategory">
                <option class="categoryOption" value="" selected disabled hidden>Category</option>
                <option class="categoryOption" value="Breakfast">Breakfast</option>
                <option class="categoryOption" value="Brunch">Brunch</option>
                <option class="categoryOption" value="Lunch">Lunch</option>
                <option class="categoryOption" value="Dinner">Dinner</option>
            </select>
        </div>
            <button id="submitButton">Submit</button>
            <!-- SUBMIT MESSAGES -->
            <div id="submitMessage-wrapper">
                <span id="submitMessage"></span>
            </div>

    </div>
    <p>New form</p>
    <form action="{{url_for('recipeBuilder')}}" method="post" id="recipe-form">
        <input type="hidden" id="caloriesHidden" name="calories">
        <input type="hidden" id="proteinHidden" name="protein">
        <input type="hidden" id="fatsHidden" name="fats">
        <input type="hidden" id="carbsHidden" name="carbs">
        <input type="hidden" id="fibreHidden" name="fibre">

    </form>

{% endblock  %}

{% block scripts %}
<script>
    var addStepButton = document.getElementById("addStepButton");
    var warningBox = document.getElementById("warningsSpan");

    var categorySelection = document.getElementById("ingredientSelect");
    var ingredientWeight = document.getElementById("weight-input");
    var ingredientsList = document.getElementById("ingredient-list");
    var ingredientAddButton = document.getElementById("addIngredientButton");

    var stepForm = document.getElementById("steps-wrapper");

    var recipeForm = document.getElementById("recipe-form")

    var ingredientobjArray = [];
    var stepObjectArray = []
    var currentIngredient = {}

    var stepCount = 0;
    var ingredientCount = 0;

    var recipeMacros = {
        protein:0,
        fats:0,
        fibre:0,
        carbohydrates:0,
        calories:0
    };

    //hidden form 
    var caloriesHidden = document.getElementById("caloriesHidden")
    var proteinHidden = document.getElementById("proteinHidden")
    var  fatsHidden = document.getElementById("fatsHidden")
    var carbsHidden = document.getElementById("carbsHidden")
    var fibreHidden = document.getElementById("fibreHidden")

    //get the ingredients using fetch based on the category selected 
    //var ingredientCategory = document.getElementById
    document.getElementById("categorySelect").addEventListener('change',(event)=>{
        //use the functions to add to the next selection list
        var category = event.target.value;
       getIngredientsCategory(category);
        
    })
    function addStepItem(event) {

        if(event.key == "Enter"){

            //get the text from the input 
            var stepText = event.target.value;
            if(stepText != "" && stepText.length > 3){

                appendStepToForm(stepText);
                event.target.value = "";
            }
            //could do with a warning box or something
            
        }

    }

    function appendStep(stepText){

        var liNode = document.createElement("li");
        var textNode = document.createTextNode(stepText);

        liNode.appendChild(textNode);

        //add to the steps div
        recipeSteps.appendChild(liNode);

        addStepButton.disabled = false;
        stepInput.style.visibility = "hidden";
        
    }

    function appendStepToForm(stepText){

        //div for the input and button to go into
        var inputDiv = document.createElement("div");
        inputDiv.setAttribute("id","step_"+stepCount);

        var stepInput = document.createElement("input");

        stepInput.setAttribute("type","text");
        stepInput.setAttribute("name","step_" + stepCount);
        
        //stepInput.setAttribute("id","formStep");
        stepInput.classList.add("formStep")
        //this is used by the get step by element function 
        //to grab updated steps before sending them 
        //stepInput.setAttribute("class","formStep");

        stepInput.setAttribute("value",stepText);

        var removeButton = document.createElement("input");
        removeButton.setAttribute("type","button");
        removeButton.setAttribute("value","X");
        // removeButton.setAttribute("onclick","removeStep()")
        removeButton.addEventListener('click',removeStep);

        //add input to div
        inputDiv.appendChild(stepInput);
        inputDiv.appendChild(removeButton);

        //add to the form 
        stepForm.appendChild(inputDiv);

        //add to new flask version form 
        recipeForm.appendChild(inputDiv) 

        let step = {
            text:stepText,
            stepNumber:stepCount
        }
        stepObjectArray.push(step);
   
        stepCount++;

    }

    function getIngredientsCategory(category){
        //fetch api to get the ingredients on page load 
        //and load them into a ui element 
        fetch("/getIngredientByCategory",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body: JSON.stringify({"category":category})
        })
        .then((response) => response.json())
        .then((responseData) => {
            //do stuff with the JSON response here 
            clearOptions(categorySelection);
            console.log(responseData)
            for (const thing of responseData['rows']) {
                console.log(thing['name']);
                addToSelection(thing);
                
            }
        })
    }
    //set the selections 
    function addToSelection(option){
        //create new element
        var selectionOption = document.createElement("option");
        selectionOption.value = option['name'];
        selectionOption.innerText = option['name'];

        categorySelection.appendChild(selectionOption);//
    }
    //on change get ingredient by name
    categorySelection.addEventListener('change',(event)=>{
        console.log(categorySelection.value);
        //set current ingredient by fetching by ingredient name 
        getIngredientByName(categorySelection.value);
    })

    function getIngredientByName(ingredient){
        //fetch api to get the ingredients on page load 
        //and load them into a ui element 
        fetch("/getIngredientByName",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body: JSON.stringify({"name":ingredient})
        })
        .then((response) => response.json())
        .then((responseData) => {
            console.log(responseData);
            currentIngredient = responseData['rows'][0];
            // return responseData;
            //do stuff with the JSON response here 
        })
    }

       //add ingredient button
    ingredientAddButton.addEventListener('click',(event)=>{

        var weight = ingredientWeight.value;
        if(weight > 0){

            currentIngredient['weight'] = weight;
            //add to the array 
            ingredientobjArray.push(currentIngredient);
            //incrament macro
            runnignMacros();
            //update the ui
            addIngredientToList(currentIngredient);
            
        }else{
            //alert box 
            displayWarning("Ingredient weight must be greater than 0");
            //set timeout for it to clear 
            setTimeout(clearWarning,3000);
        }
    })

    //helper functions

    function runnignMacros(){
        //run this function every time something is added and removed from the ingredient list
        //reset the runing value before every time 
        resetMacros();
        
        //this might be causing some of the issues with removal of ingredients
        for(ingredient of ingredientobjArray){
            addIngredientMacros(ingredient);
        }

        console.log(recipeMacros);
        // document.getElementById("runningMacros").value
        displayRunningMacros();
    }
    addStepButton.addEventListener('click', (event)=>{

        //addStepButton.disabled = true;
        stepInput.style.visibility = "visible";
        stepInput.focus();

    });

    function removeStep(event){

        //get just the id number 
        var id = event.currentTarget.parentElement.id.replace("step_","");
        var idToRmove = event.currentTarget.parentElement.id;
        
        if(id > -1){
            stepObjectArray[id] = null;
        }

        var toremove = document.getElementById(idToRmove);
        //UI
        toremove.remove();
        //json
        stepObjectArray = stepObjectArray.filter(removeNull);
    }

    
    function displayRunningMacros(){
        console.log(recipeMacros)

        var string = `Kcal:${recipeMacros['calories'].toFixed(2)}, Protein:${recipeMacros['protein'].toFixed(2)}, Carbs:${recipeMacros['carbohydrates'].toFixed(2)}, Fats:${recipeMacros['fats'].toFixed(2)} `;

        document.getElementById("runningMacros").innerText = string;
    }

    
    function addIngredientMacros(ingredient){

        console.log(ingredient)
        var ingredientGrams = (Number(ingredient['weight']) / 100); //may need to be renamed

        recipeMacros['protein'] += (ingredient['protein'] * ingredientGrams);
        recipeMacros['fats'] +=  (ingredient['fats'] * ingredientGrams);
        recipeMacros['carbohydrates'] += (ingredient['carbohydrates'] * ingredientGrams);
        recipeMacros['fibre'] += (ingredient['fibre'] * ingredientGrams);
        recipeMacros['calories'] += (ingredient['kcals_100g'] * ingredientGrams);

        //adding to the hidden values of new form 
        proteinHidden.value = recipeMacros['protein']
        fatsHidden.value = recipeMacros['fats']
        carbsHidden.value = recipeMacros['carbohydrates']
        fibreHidden.value = recipeMacros['fibre']
        caloriesHidden.value = recipeMacros['calories']

    }

    function addIngredientToList(object){
        var liNode = document.createElement("li");

        var ingredientString = `${object['name']} ${object['weight']}g`;

        // var textNode = document.createTextNode(object['name']);
        var textNode = document.createTextNode(ingredientString);

        liNode.setAttribute("class","ingredients");

        liNode.setAttribute("id",ingredientCount);
        //the above was changed for removal reasons 
        ingredientCount++; // should this be the length of the obj array? 

        var removeButton = document.createElement("input");
        removeButton.setAttribute("type","button");
        removeButton.setAttribute("value","X");
        removeButton.addEventListener('click',removeIngredient);

        //add to the div
        liNode.appendChild(textNode);
        liNode.appendChild(removeButton);
        ingredientsList.appendChild(liNode);
    }

    function removeIngredient(event){

        var idToRmove = event.currentTarget.parentElement.id;

        removeFromIngredientList(idToRmove);
        var toremove = document.getElementById(idToRmove);

        toremove.remove();

        ingredientobjArray = ingredientobjArray.filter(removeNull);// might need to do this later ?
        console.log(ingredientobjArray);
        
        //resetElementId();

        runnignMacros();
    }

    function removeFromIngredientList(id){
        
        console.log("id to remove = "+ id);

        if(ingredientobjArray.length == 1){
            ingredientobjArray = [];
        }

        if(id > -1){
            ingredientobjArray[id] = null;
        }

    }

    function removeNull(item){
        if(item){
            return true;
        }
        return false;
    }
    //whenever an element is removed I MIGHT NOT NEED THIS IN FUTURE ??
    function resetElementId(){

        var elements = document.getElementsByClassName("ingredients");

        ingredientCount = elements.length;

        for (let index = 0; index < elements.length; index++) {
            elements[index].setAttribute("id",index);
        }

    }

    function resetMacros(){
        recipeMacros['protein']= 0;
        recipeMacros['fats'] = 0;
        recipeMacros['carbohydrates'] = 0;
        recipeMacros['fibre'] = 0;
        recipeMacros['calories'] = 0;

        proteinHidden.value =""
        fatsHidden.value = ""
        carbsHidden.value = ""
        fibreHidden.value = ""
        caloriesHidden.value =""


    }

    function clearOptions(selection){
        selection.innerHTML = "";
     }

     function displayWarning(warningText){
        warningBox.innerText = " >>" +warningText+"<< ";
    }

    function clearWarning(){
        warningBox.innerText = "";
    }
    //implament reset all 

</script>
    
{% endblock scripts %}